* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
	background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0.68) 27%, rgba(0,168,155,0.6783088235294117) 88%) fixed;
    color: black;
}

.alata-regular {
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.title{
  font-family: "Alata", sans-serif;
}

.container-footer{
    color: white;
    font-family: "Alata", sans-serif;
    background-color: black, fixed;
}

footer{
position: absolute; width: 100%;
}

.form-label{
font-weight: bold;
}